.correct-answer {
  background: linear-gradient(to right, #0c2a4d, #4a15cf);
  background-color: #0c2a4d;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 8px;
  box-shadow: inset 14px -23px 41px -29px rgba(15.5328369140625, 14.522191277645351, 14.522191277645351, 0.5);
  color: #fff;
  display: inline-block;
  font-family: Impact;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  margin: 10px;
  padding: 5px 9px;
  text-decoration: none;
  text-shadow: 2px 4px 0 #1f976b;
}

.wrong-answer {
  background: linear-gradient(to right, #0c2a4d, #4a15cf);
  background-color: #0c2a4d;
  border: 3px solid red;
  border-radius: 8px;
  box-shadow: inset 14px -23px 41px -29px rgba(15.5328369140625, 14.522191277645351, 14.522191277645351, 0.5);
  color: #fff;
  display: inline-block;
  font-family: Impact;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  margin: 10px;
  padding: 5px 9px;
  text-decoration: none;
  text-shadow: 2px 4px 0 #1f976b;
}

.default {
  background: linear-gradient(to right, #0c2a4d, #4a15cf);
  background-color: #0c2a4d;
  border: 3px solid #750b89;
  border-radius: 8px;
  box-shadow: inset 14px -23px 41px -29px rgba(15.5328369140625, 14.522191277645351, 14.522191277645351, 0.5);
  color: #fff;
  display: inline-block;
  font-family: Impact;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  margin: 10px;
  padding: 5px 9px;
  text-decoration: none;
  text-shadow: 2px 4px 0 #1f976b;
}

.default:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.default:active {
  transform: scale(0.95);
}
